/* box-shadow - text-shadow filter: drop-shadow */
body {
    margin: 0;
}
.box {
    width: 480px;
    
    background: rgb(255, 255, 255);
    margin: auto;
    margin-top: 50px;
    /*  */
    box-shadow: 0 0 84px 0 #0007;
    padding: 10px;box-sizing: border-box;
    padding: 20px;
    font-family: sans-serif;
    text-align: center;
}
h2 {
    
    color: #444;
    margin-top: 5px;
    letter-spacing: 2px;
    padding: 1px;


}
p {
    list-style: none;
    text-align: justify;
    line-height: 1.5;
    font-size: 14px;
    /* sombras de texto */
    text-shadow: 0 0 70px rgb(0, 0, 0);
}
img {
    width: 160px;
    border-radius: 100%;
    border: 3px solid black;
    margin: auto;
    /* filter: drop-shadow , fondo transparente, elemento alfa*/
    filter: drop-shadow(20px 20px 30px);

}