
/* Milimetros, centimetros y las pulgadas */
div {
    background: rgb(23, 4, 226);
    padding: 15px;
    font-family: sans-serif;
    border-left: 8px solid limegreen;
    width: 400px;
    height: 250px;
    border-top: 8px solid lime;
    margin: auto;
}
h1 {
    margin: 0;
    background: rgba(255, 255, 255, 0.867);
    text-align: center;
}
p {
    color: white;
    font-weight: 10px;
    font-size: 17px;
}
span {
    font-size: 15px;
    color: black;
}
