/* Mejor forma para plasmar tipografias. */
@font-face {
    font-family: "Sergio";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "font2";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "font3";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "font4";
    src: url("../fonts/Montserrat-Italic.ttf") format("truetype");
    font-weight: 200;
}


@font-face {
    font-family: "font5";
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 100;
}